@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  font-family: 'Open Sans', sans-serif;
}

.tag {
  @apply 
  w-10
  h-6
  px-3
  bg-theorange
  rounded-full
  text-center
  min-w-max
}

.tag-selected {
  @apply 
  ring-4
  ring-theyellow
}

.checkbox {
    @apply appearance-none rounded border border-theorange checked:bg-theorange
}

  .checkbox:checked {
    background-image: url("/resources/checkmark.svg");
    border-color: transparent;
    background-size: 100% 100%;
    background-position: 50%;
    background-repeat: no-repeat;
  }

  .input-field {
    @apply focus:outline-none
    appearance-none
    rounded
    block
    py-2
    px-3
    text-gray-800
    bg-white
    border-2
    border-transparent
  }

  .input-incorrect {
    @apply border-2 border-red-500
  }

  .user_menu_button {
    @apply rounded
    p-1
    m-1
    border border-black
    bg-theyellow
    transform
    hover:scale-105
    text-center text-gray-800
  }

  /* 
  tooltip
  source: https://www.w3schools.com/css/css_tooltip.asp

  usage:
  <div class="tooltip">Hover over me
    <span class="tooltiptext">Tooltip text</span>
  </div>
  */

  .tooltip {
    @apply relative border-b border-black border-dotted
  }

  .tooltiptext {
    @apply bg-theorange text-gray-50 p-3 w-64 absolute rounded
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    left: calc(100% + 15px);
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
