@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  font-family: 'Open Sans', sans-serif;
}

.checkbox {
    @apply appearance-none rounded border border-theorange checked:bg-theorange
}

  .checkbox:checked {
    background-image: url("/resources/checkmark.svg");
    border-color: transparent;
    background-size: 100% 100%;
    background-position: 50%;
    background-repeat: no-repeat;
  }

  .input-field {
    @apply focus:outline-none
    appearance-none
    rounded
    w-full
    mt-1
    py-2
    px-3
    text-gray-800
    bg-white
    border
  }

  .input-incorrect {
    @apply border border-red-500
  }

  .user_menu_button {
    @apply rounded
    p-1
    m-1
    border border-black
    bg-theyellow
    transform
    hover:scale-105
    text-center text-gray-800
  }
